/*===========================*/
/*=======    Basic Setup   =======*/
/*===========================*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial' ,sans-serif;
    font-size: 20px; 
    font-weight: 300; 
    text-rendering: optimizeLegibility; 
    overflow-x: hidden;
}


.clearfix {zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}
/*===========================*/
/*=======    Headings   =======*/
/*===========================*/
h1,h2,h3{
    
    text-transform: uppercase;
    font-weight: 300;
    
    
    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    content: " ";
    width: 100px ;
    margin: 0 auto;
    background-color: #e67e22;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}



/*===========================*/
/*=======    Header   =======*/
/*===========================*/

header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgb(0,0,0,0.7))),  url("img/image.png");
    background-image: linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,0.7)),  url("img/image.png");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%); 

}



.btn:visited,
.btn:link,
input[type=submit]{
    display: inline-block; 
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px ;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:visited,
.btn-full:link,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 5px;
    
    }

.btn-ghost:visited,
.btn-ghost:link{
    border: 1px solid #e67e22;
    color: #e67e22;
    
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #ef6d17;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #ef6d17;
    
    
    }

.btn-ghost:hover,
.btn-ghost:active{
   color: #fff;
   border: 1px solid #ef6d17;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    list-style: none;
    float: right;
    
    
}

.main-nav li{
    display: inline-block;
    margin: 55px 20px;
    
}

.main-nav li a:visited,
.main-nav li a:link{
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    word-spacing: 3px;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent ;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22 ;

}



/*===========================*/
/*=======    Section-fetures   =======*/
/*===========================*/


.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%; 

}
.section-features .long-copy{
    margin-bottom: 30px;
}
.box{
    padding: 1%;

}

.box p{
    line-height: 145%;
    font-size: 90%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

/*===========================*/
/*=======    section-meals   =======*/
/*===========================*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;

}

.meal-photo{
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
    
}

.meal-photo img{
    width: 100%;
    opacity: 0.7;
    
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.3s;
    transition: opacity 0.5s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.5s;
    transition: transform 0.3s, opacity 0.5s, -webkit-transform 0.3s;
}

.meal-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*===========================*/
/*=======    section-steps   =======*/
/*===========================*/

.section-steps{
    background-color: #f4f4f4;
}
.steps-box{
    margin-top: 30px;
}

.steps-box:first-child{
    text-align: right; 
    padding-right: 3%;
}


.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 30%;

}

.works-step {
    margin-bottom: 50px;

}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;

}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*===========================*/
/*=======    section-cities   =======*/
/*===========================*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;

}

.city-feature{
    margin-bottom: 8px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.city-feature a:link,
.city-feature a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.3s,color 0.3s;
    transition: border-bottom 0.3s,color 0.3s;
}

.city-feature a:hover,
.city-feature a:active{
   color: #555;
   border-bottom: 1px solid transparent;
}

/*===========================*/
/*=======    section-testimonials   =======*/
/*===========================*/

.section-testimonials{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))) , url("img/back-customers.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url("img/back-customers.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed; 
}

blockquote{
    padding: 2%;
    font-style: italic; 
    line-height: 145%;
    position: relative;

}

blockquote:before{
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: 0;
    left: -3;
}


cite{
    font-style: 90%;
    margin-top: 25px;
    display: block;
    
}



cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*===========================*/
/*=======    section-plans  =======*/
/*===========================*/


.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 10px #e3e3e3;
    box-shadow: 0 2px 10px #e3e3e3;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;

}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span{
    font-size: 30%; 
    font-weight: 300;

}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;

}

.plan-box ul li{
    padding: 5px 0;

}   

.plan-box div:last-child{
    text-align: center;
    border: 0;

}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*===========================*/
/*=======    section-plans  =======*/
/*===========================*/


.contact-form{
    width: 60%;
    margin:0 auto;

}

input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;

}

input[type=submit]{
    cursor: pointer;
}

input[type=checkbox]{
    margin: 10px 5px;
}

*:focus{outline:none;}

/*===========================*/
/*=======    section-plans  =======*/
/*===========================*/



.section-footer{
    background-color: #333;
    padding: 50px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:visited,
.footer-nav li a:link,
.social-links li a:visited,
.social-links li a:link{
    text-decoration: none;
    color: #888;
    border: 0;
}

.footer-nav li a:hover,
.footer-nav li a:active
.social-links li a:hover,
.social-links li a:active{
    color: #fff;
}

.social-links{
    list-style: none;
    float: right;
    
}

.social-links li:last-of-type{
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 180%;
}

.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}



footer p{
    text-align: center;
    margin-top: 25px;
    color: #888;
    
}

